<h2>Select - Default</h2>
<div>
    <sg-select [(ngModel)]="value" [componentConfig]="sgSelectComponentConfigModel"></sg-select>
</div>
External value : {{value | json}}
<div class="code-container">
    <div class="code-panel">
        <h6>Config</h6> 
        <textarea class="code" readonly>{{sgSelectComponentConfigModel | json}}</textarea> 
    </div>
</div>

<h2>Select - Custom styled</h2>
<p>
    To style the component set the classname in the components config. In the example it is set 
    to select2 and some custom style is added to target the components elements.
</p>
<div [innerHTML]="stylesSafeHtml"></div>
<sg-select [(ngModel)]="valueStyled" [componentConfig]="sgSelectComponentConfigModelStyled"></sg-select>
<div>
    External value : {{valueStyled | json}}
</div>
<div class="code-container">
    <div class="code-panel">
        <h6>Config</h6> 
        <textarea class="code" readonly>{{sgSelectComponentConfigModelStyled | json}}</textarea> 
    </div>
    <div class="code-panel">
        <h6>Custom style</h6> 
        <textarea class="code" readonly>{{styles}}</textarea> 
    </div>
</div>

<h2>SgSelectService toggle, show, hide and isVisible methods</h2>
<p>
    Show and hide the component by using the SgSelectService toggle, show and hide methods.<br/>
    The show and hide buttons are toggled by using the SgSelectService isVisible method.
</p>
<sg-select [(ngModel)]="valueShowAndHide" [componentConfig]="sgSelectComponentConfigModelShowAndHide"></sg-select>
<div>
    External value : {{valueShowAndHide | json}}
</div>
<div>
    <button *ngIf="!sgSelectComponentConfigModelShowAndHide.show" (click)="showShowAndHide()">Show</button> 
    <button *ngIf="sgSelectComponentConfigModelShowAndHide.show" (click)="hideShowAndHide()">Hide</button> 
    <button (click)="toggleShowAndHide()">Toggle</button>
</div>

<h2>SgSelectService clear, set, get and hasValue methods</h2>
<p>
    clear, set and get the component value by using the SgSelectService clear, get and set methods.<br/>
    The clear and get buttons are shown by using the SgSelectService hasValue method.
</p>
<sg-select [(ngModel)]="valueManipulateValue" [componentConfig]="sgSelectComponentConfigModelManipulateValue"></sg-select>
<div>
    External value : {{valueManipulateValue | json}}
    getValue : {{currentValueManipulateValue | json}}
</div>
<div>
    <button *ngIf="hasValueManipulateValue()" (click)="clearManipulateValue()">Clear value</button> 
    <button *ngIf="hasValueManipulateValue()" (click)="getManipulateValue()">Get value</button> 
    <button (click)="setManipulateValue()">Set value</button> 
</div>
