<h1>Select - Default</h1>
<div>
    <sg-select [(ngModel)]="value" [sgSelectComponentConfig]="sgSelectComponentConfig"></sg-select>
</div>
External value : {{value | json}}

<h1>Select - Custom styled</h1>
<p>
    To style the component set the classname in the components config. In the example it is set 
    to select2 and some custom style is added to target the components elements.
</p>
<div [innerHTML]="stylesSafeHtml"></div>
<div>
    <sg-select [(ngModel)]="valueStyled" [sgSelectComponentConfig]="sgSelectComponentConfigStyled"></sg-select>
</div>
<div>
    External value : {{valueStyled | json}}
</div>
<h6>Custom style</h6> 
<textarea class="code" readonly>{{styles}}</textarea> 
