<h2>Select - Default</h2>
<div>
    <sg-select [(ngModel)]="value" [sgSelectComponentConfig]="sgSelectComponentConfig"></sg-select>
</div>
External value : {{value | json}}
<div class="code-container">
    <div class="code-panel">
        <h6>Config</h6> 
        <textarea class="code" readonly>{{sgSelectComponentConfig | json}}</textarea> 
    </div>
</div>

<h2>Select - Custom styled</h2>
<p>
    To style the component set the classname in the components config. In the example it is set 
    to select2 and some custom style is added to target the components elements.
</p>
<div [innerHTML]="stylesSafeHtml"></div>
<div groupComponent>
    <sg-select [(ngModel)]="valueStyled" [sgSelectComponentConfig]="sgSelectComponentConfigStyled"></sg-select>
</div>
<div>
    External value : {{valueStyled | json}}
</div>
<div class="code-container">
    <div class="code-panel">
        <h6>Config</h6> 
        <textarea class="code" readonly>{{sgSelectComponentConfigStyled | json}}</textarea> 
    </div>
    <div class="code-panel">
        <h6>Custom style</h6> 
        <textarea class="code" readonly>{{styles}}</textarea> 
    </div>
</div>

<h2>SgSelectService toggle, show, hide and isVisible methods</h2>
<p>
    Show and hide the component by using the SgSelectService toggle, show and hide methods.<br/>
    The show and hide buttons are toggled by using the SgSelectService isVisible method.
</p>
<div groupComponent>
    <sg-select [(ngModel)]="valueShowAndHide" [sgSelectComponentConfig]="sgSelectComponentConfigShowAndHide"></sg-select>
</div>
<div>
    External value : {{valueShowAndHide | json}}
</div>
<div>
    <button *ngIf="!isVisibleShowAndHide()" (click)="showShowAndHide()">Show</button> 
    <button *ngIf="isVisibleShowAndHide()" (click)="hideShowAndHide()">Hide</button> 
    <button (click)="toggleShowAndHide()">Toggle</button>
</div>

<h2>SgComponentServicesService toggle, show, hide and isVisible methods</h2>
<p>
    Toggle all componentsregistered component services structure in the SgComponentServicesService to the console.<br/>
</p>
<div>
    <button (click)="componentServiceToggleAll()">Toggle all components</button>
</div>

<h2>SgComponentServicesService log methods</h2>
<p>
    Log registered component services structure in the SgComponentServicesService to the console.<br/>
</p>
<div>
    <button (click)="componentServicesServiceLog()">Log</button>
</div>
