/* You can add global styles to this file, and also import other style files */

// The theme is imported from the projects directory because changes to the default.sccs
// are automatically picked up when library build is started in watch mode.
// In a real application it should be imported from the dist directory.
@use '../projects/songlasses/src/lib/theme/default.scss';

.code {
    border: 1px solid var(--sg-divider-color);
    outline: none;
    width: 100%;
    min-height: 340px;
    max-height: 600px;
    resize: none;
}
